In [27]:
import csv
import pandas as pd

formBFI = []

with open('C:/Users/User/twitter-personality-classification-master/twitter-personality-classification/dataset/formulir-bfi.csv', mode='r') as file:
    i = 0
    for line in file:
        if i == 0:
            i += 1
            continue
        line = line.replace('"', '')
        line = line.split(',')[2:]
        formBFI.append(line)

usernames = {}

In [28]:
a = ['username']
for i in range (1, 45):
    x = f"BFI_{i}"
    a.append(x)

In [29]:
b = []
b = a.copy()
b.remove("username")

In [30]:
df.dtypes

username    object
BFI_1        int32
BFI_2        int32
BFI_3        int32
BFI_4        int32
BFI_5        int32
BFI_6        int32
BFI_7        int32
BFI_8        int32
BFI_9        int32
BFI_10       int32
BFI_11       int32
BFI_12       int32
BFI_13       int32
BFI_14       int32
BFI_15       int32
BFI_16       int32
BFI_17       int32
BFI_18       int32
BFI_19       int32
BFI_20       int32
BFI_21       int32
BFI_22       int32
BFI_23       int32
BFI_24       int32
BFI_25       int32
BFI_26       int32
BFI_27       int32
BFI_28       int32
BFI_29       int32
BFI_30       int32
BFI_31       int32
BFI_32       int32
BFI_33       int32
BFI_34       int32
BFI_35       int32
BFI_36       int32
BFI_37       int32
BFI_38       int32
BFI_39       int32
BFI_40       int32
BFI_41       int32
BFI_42       int32
BFI_43       int32
BFI_44       int32
dtype: object

In [31]:
df = pd.DataFrame(formBFI, columns=a)
df['BFI_44'] = df['BFI_44'].replace("\n","")
df[b] = df[b].astype(int)

In [32]:
# #Check null and 0 value, tidak ada
# (df == 0).sum()
# df.isnull().sum()

In [33]:
test = df.copy()

In [34]:
test

,username,BFI_1,BFI_2,BFI_3,BFI_4,BFI_5,BFI_6,BFI_7,BFI_8,BFI_9,...,BFI_35,BFI_36,BFI_37,BFI_38,BFI_39,BFI_40,BFI_41,BFI_42,BFI_43,BFI_44
0,h3llatrash,2,4,5,5,4,4,3,2,2,...,4,2,4,4,5,5,1,3,4,4
1,azharizkita,1,4,5,2,2,5,5,4,5,...,5,4,5,5,4,5,2,1,2,4
2,jooshpn,1,1,5,1,3,4,3,2,3,...,3,2,1,4,1,2,2,4,1,1
3,firazulfira,3,1,4,4,4,2,3,3,4,...,4,4,1,5,2,5,2,4,2,3
4,aisyahafr,3,2,4,4,3,4,4,1,2,...,4,2,1,4,5,4,4,4,5,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
741,pawidyapramesti,3,3,3,5,3,4,4,4,4,...,4,4,2,4,4,3,3,3,3,1
742,greeniscalming,3,2,4,2,4,2,4,4,3,...,3,4,3,4,2,5,3,4,3,3
743,meghayusyaedmap,3,2,2,1,2,3,4,5,3,...,5,4,3,4,4,3,2,4,5,1
744,Freak people,3,5,3,4,2,3,2,3,2,...,2,2,5,2,4,3,2,3,4,1
745,simengong_,2,2,4,2,4,5,4,3,4,...,5,3,2,5,2,5,4,5,4,2

In [35]:
#list column name form each of class and its reverse
e_l = ['BFI_1','BFI_11','BFI_16','BFI_26','BFI_36']
e_l_r = ['BFI_6','BFI_21','BFI_31']

a_l = ['BFI_7','BFI_17','BFI_22','BFI_32','BFI_42']
a_l_r = ['BFI_2','BFI_12','BFI_37']

c_l = ['BFI_3','BFI_13','BFI_28','BFI_33','BFI_38']
c_l_r = ['BFI_8','BFI_18','BFI_23', 'BFI_43']

n_l = ['BFI_4','BFI_14','BFI_19','BFI_29','BFI_39']
n_l_r = ['BFI_9','BFI_24','BFI_34']

o_l = ['BFI_5','BFI_10','BFI_15','BFI_20','BFI_25','BFI_30', 'BFI_40', 'BFI_44']
o_l_r = ['BFI_35','BFI_41']

In [36]:
#calculate the value for each class
test["Extraversion_Val"] = ((((test[e_l].mean(axis = 1))*5) + (12 - (test[e_l_r].mean(axis = 1))*3))/34)*5
test["Agreeableness_Val"] = ((((test[a_l].mean(axis = 1))*5) + (16 - (test[a_l_r].mean(axis = 1))*4))/37)*5
test["Conscientiousness_Val"] = ((((test[c_l].mean(axis = 1))*5) + (16 - (test[c_l_r].mean(axis = 1))*4))/37)*5
test["Neuroticism_Val"] = ((((test[n_l].mean(axis = 1))*5) + (12 - (test[n_l_r].mean(axis = 1))*3))/34)*5
test["Openness_Val"] = ((((test[o_l].mean(axis = 1))*8) + (8 - (test[o_l_r].mean(axis = 1))*2))/70)*5

In [37]:
#Create label by comparing values
columns_to_compare = ["Extraversion_Val", "Agreeableness_Val", "Conscientiousness_Val", "Neuroticism_Val", "Openness_Val"]

# Create a new column 'MaxColumn' with the column name having the maximum value
test['Label'] = test[columns_to_compare].idxmax(axis=1)
test['Label'] = test['Label'].astype('string')
test['Label'] = test['Label'].replace("_Val","", regex=True)
test.to_csv("C:/Users/User/twitter-personality-classification-master/twitter-personality-classification/dataset/label-result-journal.csv")